.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .weather-box h1 {
    margin-bottom: 10px;
  }
  
  .weather-box p {
    margin: 5px 0;
  }
  
  .weather-icon {
    width: 100px; /* 아이콘의 크기를 키움 */
    height: 100px;
  }

  .forecast {
    flex: 1;
    text-align: center; /* 예보 내용 가운데 정렬 */
    margin-top: 50px; /* 위쪽으로 30픽셀 마진 추가 */
    margin-bottom: -20px;
  }
  

  .forecast-icon {
    width: 50px; /* 작은 아이콘 크기 조정 */
    height: 50px;
  }