body{
    background: url(https://cdn.wallpapersafari.com/5/94/unQymT.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -100px;
    font-family: fontt2;
    
}

.weather-box{
    border: 3px solid white;
    padding: 70px;
    border-radius: 30px;
    background-color: azure;
    margin: 20px;
    
}

.btn.btn-info{
    margin: 5px;
    background-color: azure;
}

.page-name {
    font-size: 70px;
    font-family: fontt;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
  }
  
  @font-face {
    font-family: 'fontt';
    src: url("font/PlayfairDisplay-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: 'fontt2';
    src: url("font/Bitter-VariableFont_wght.ttf");
  }
  button:hover{
    scale: 1.1;
  }