body{
    background: url(https://cdn.wallpapersafari.com/5/94/unQymT.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box{
    border: 3px solid white;
    padding: 50px;
    border-radius: 30px;
    background-color: azure;
    margin: 20px;
}

.btn.btn-warning{
    margin: 5px;
}